<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>简易计算器</title>
    <script src="./lib/vue.js"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="a1">
        <select v-model="opt">
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
        <input type="text" v-model="a2">
        <input type="button" value="=" @click="calc()">
        <input type="text"  readonly="readonly" v-model="result">
    </div>

    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                a1: 0,
                a2: 0,
                result: 0,
                opt: '+'
            },
            methods: {
                calc() {
                    switch (this.opt) {
                        case '+':
                        this.result = parseInt(this.a1)  + parseInt(this.a2)
                            break;
                        case '-':
                        this.result = parseInt(this.a1) - parseInt(this.a2)
                            break;
                        case '*':
                        this.result = parseInt(this.a1)  * parseInt(this.a2)
                            break;
                        case '/':
                        this.result = parseInt(this.a1)  / parseInt(this.a2)
                            break;
                    };

                    // var codestr =  'parseInt(this.a1)' + this.opt + 'parseInt(this.a2)'
                    //     this.result = eval(codestr);
                    //     // eval()函数可实现对字符串进行计算
                }
            }
        });
    </script>
</body>

</html>